:root {
  --color-white: #f0f3f3;
  --color-black: #010102;
  --color-accent: #6f17ff;
  --color-text-dimmed: #6d7577;
  --color-text-highlited: var(--color-white);
  --color-text-link: #5f90ee;
  --color-text-link-highlited: #6a9af6;
  --transition-out: cubic-bezier(0.22, 1, 0.36, 1);
}
