$translate: 1rem;

.fadeOverlay,
.fade,
.slideOut,
.slideIn {
  &LeaveActive {
    position: absolute !important;
    inset: 0 !important;
    opacity: 0 !important;
  }
}

.fadeOverlay,
.fade {
  &EnterActive,
  &LeaveActive {
    transition: opacity 0.56s var(--transition-out) !important;
  }

  &EnterFrom {
    opacity: 0 !important;
  }
}

.fade {
  &EnterActive {
    transition-delay: 0.14s !important;
  }
}

.slideOut,
.slideIn {
  &EnterActive,
  &LeaveActive, {
    transition: transform 0.6s var(--transition-out), opacity 0.3s var(--transition-out) !important;
  }

  &EnterActive {
    transition-delay: 0.1s !important;
  }
}

.slideOut {
  &LeaveActive {
    transform: translate3d($translate, 0, 0) !important;
  }

  &EnterFrom {
    opacity: 0;
    transform: translate3d(-$translate, 0, 0) !important;
  }
}

.slideIn {
  &LeaveActive {
    transform: translate3d(-$translate, 0, 0) !important;
  }

  &EnterFrom {
    opacity: 0;
    transform: translate3d($translate, 0, 0) !important;
  }
}
